<div class="row top">
    <div class="col-sm-3.5 f-h-icon">
        <a href="/favorite" class="btn btn-primary" id="favorite-icon">Favorite</a>
        <a href="/" class="btn btn-primary" id="home-icon">Home</a>
    </div>
    <div class="col-sm-2.5">
        <a href="/" id="siteName"><i class="fas"
            style="font-family: 'Monoton', cursive; padding: 30px; margin-top: -20px; margin-left: -10px; color: rgb(98, 106, 189); font-size: 80px">DB</i></a>
        <a href="/" id="siteName"><i class="fas"
            style="font-family: 'Monoton', cursive; padding: 30px; margin-left: -225px; color: rgb(255, 0, 174); font-size: 40px">Gamer</i></a>
    </div>
    <div class="wrap">
        <div class="search">
            <input class="input searchTerm" id="inputGame" type="text" placeholder="Game Name">
            <button class="btn btn-primary searchButton" id="searchBtn"><i class="fa fa-search"></i></button>
            <div class="searchRes" data-show="false">
            </div>
            {{!-- search result --}}
        </div>
    </div>
    <div class="row" id="selectSort">
        <form class="sortForm">
            <select class="select" name="games" id="platform">
                <option value="">Platforms</option>
                <option value="ps4">PS4</option>
                <option value="xb1">XBox</option>
                <option value="wiiu">WiiU</option>
                <option value="3ds">3DS</option>
            </select>
            <select class="select" name="games" id="genre">
                <option value="">Genres</option>
                <option value="act">Action</option>
                <option value="rpg">RPG</option>
                <option value="spt">Sport</option>
                <option value="sht">Shooters</option>
            </select>
            <button type="submit" class="btn-success" id="sortBtn">
                <i class="fa fa-search"></i>
            </button>
        </form>
        <div class="col-sm-12">
            <form class="orderForm">
                <select class="select" name="games" id="gameOrder">
                    <option value="">Order by</option>
                    <option value="yd">Year Desc</option>
                    <option value="ya">Year Asc</option>
                    <option value="sd">Sales Desc</option>
                    <option value="sa">Sales Asc</option>
                </select>
                <button type="submit" class="btn-success" id="orderBtn">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>

    </div>
    <hr>
</div>
<!-- ======================================= Body ======================================= -->
<div class="row">
    <div class="col-sm-12 fav-top">
        <h2 id="m-f-c">&nbsp;&nbsp;&nbsp;&nbsp;Favorite List</h2>
            <hr id="line-f">
        <dir class="gameList">
            {{#each fav}}
            <div class="card transition card_fav">
                <h2 class="transition">{{this.Name}}</h2>
                <p class="p_fav" id="p_fav">
                    Year of Release: {{this.Year_of_Release}} <br>
                    Platform: {{this.Platform}} <br>
                    Genre: {{this.Genre}} <br>
                    North America Sales: {{this.NA_Sales}} <br>
                    Global Sales: {{this.Global_Sales}}
                </p>
                <div class="my-rating jq-stars">Last Rating: <span id="rates"></span></div>
                <div class="cta-container transition" id="fav-fav">
                    <button class="unFavBtn" data-gameId="{{this.GameId}}"><i class="fas fa-times"></i></button><br>
                </div>
                <div class="cta-container transition" id="fav-details">
                    <a href="/card/{{this.GameId}}" class="cta cardBtn">More Details</a>
                </div>
                <div class="card_circle transition card_circle_fav"></div>
            </div>
            {{/each}}
        </dir>
    </div>
</div>
<!-- ======================================= footer ======================================= -->
<footer class="row footer">
    <hr>
    <div class="col-sm-6">
        &nbsp;&nbsp; Copyright &copy; 2019 <hr>
        <li>Abdullah Alamri</li>
        <li>James Lamb</li>
        <li>Isaac Wu</li>
    </div>
    <div class="col-sm-6" id="powered">
        Powered By: "moby games" &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</footer>
<!-- ======================================= script ======================================= -->
<script>
    $(".unFavBtn").on("click", function () {
        let gameId = $(this).data("gameid");
        $.ajax({
            type: "PUT",
            url: "/favorite/remove/" + gameId,
        }).then(
            function (data) {
                console.log("favorite state changed to false");
            })

        $.ajax({
            type: "DELETE",
            url: "/favorite/remove/" + gameId,
            success: function (result) {
                location.reload();
                // alert("removed from favorite!");
            }
        });
    })
</script>