<div class="row top">
    <div class="col-sm-3.5 f-h-icon">
        <a href="/favorite" class="btn btn-primary" id="favorite-icon">Favorite</a>
        <a href="/" class="btn btn-primary" id="home-icon">Home</a>
    </div>
    <div class="col-sm-2.5">
        <a href="/" id="siteName"><i class="fas"
                style="font-family: 'Monoton', cursive; padding: 30px; margin-top: -20px; margin-left: -10px; color: rgb(98, 106, 189); font-size: 80px">DB</i></a>
        <a href="/" id="siteName"><i class="fas"
                style="font-family: 'Monoton', cursive; padding: 30px; margin-left: -225px; color: rgb(255, 0, 174); font-size: 40px">Gamer</i></a>
    </div>
    <div class="wrap">
        <div class="search">
            <input class="input searchTerm" id="inputGame" type="text" placeholder="Game Name">
            <button class="btn btn-primary searchButton" id="searchBtn"><i class="fa fa-search"></i></button>
            <div class="searchRes" data-show="false">
            </div>
            {{!-- search result --}}
        </div>
    </div>
    <div class="row" id="selectSort">
        <form class="sortForm">
            <select class="select" name="games" id="platform">
                <option value="">Platforms</option>
                <option value="ps4">PS4</option>
                <option value="xb1">XBox</option>
                <option value="wiiu">WiiU</option>
                <option value="3ds">3DS</option>
            </select>
            <select class="select" name="games" id="genre">
                <option value="">Genres</option>
                <option value="act">Action</option>
                <option value="rpg">RPG</option>
                <option value="spt">Sport</option>
                <option value="sht">Shooters</option>
            </select>
            <button type="submit" class="btn-success" id="sortBtn">
                <i class="fa fa-search"></i>
            </button>
        </form>
        <div class="col-sm-12">
            <form class="orderForm">
                <select class="select" name="games" id="gameOrder">
                    <option value="">Order by</option>
                    <option value="yd">Year Desc</option>
                    <option value="ya">Year Asc</option>
                    <option value="sd">Sales Desc</option>
                    <option value="sa">Sales Asc</option>
                </select>
                <button type="submit" class="btn-success" id="orderBtn">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
    <hr>
</div>
<!-- ======================================= Body ======================================= -->
<div class="row" id="page">
    <div class="bodySort">
        <h2 id="m-f-c">Game List</h2>
        {{!-- <div class="col-sm-4">
            <form class="orderForm">
                <select class="select" name="games" id="gameOrder">
                    <option value="">Order by</option>
                    <option value="yd">Year Desc</option>
                    <option value="ya">Year Asc</option>
                    <option value="sd">Sales Desc</option>
                    <option value="sa">Sales Asc</option>
                </select>
                <button type="submit" class="btn-success" id="orderBtn">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div> --}}
        <hr id="line-m">
        <div class="col-sm-4 navNo">
            <nav aria-label="bootstrap">
                <ul class="pagination">
                    <li class="page-item" id="previous-page">
                        <a class="page-link" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                </ul>
            </nav>
        </div>
        {{!-- games loop --}}
        <dir class="gameList">
            {{#each game}}
            <div class="list-group" id="gameCard">
                <div class="card transition">
                    <h2 class="transition">{{this.Name}}</h2>
                    <p>Year of Release: {{this.Year_of_Release}} <br> Platform: {{this.Platform}} </p>
                    <div class="cta-container transition" id="card-fav-m">
                        <button class="favBtn btn-danger" data-gameId="{{this.id}}" data-favSta="{{this.isFav}}">
                            <i class="fas fa-heart"></i>
                        </button>
                    </div>
                    <div class="cta-container transition">
                        <a href="/card/{{this.id}}" class="cta cardBtn">More Details</a>
                    </div>
                    <div class="card_circle transition"></div>
                </div>
            </div>
            {{/each}}
        </dir>
    </div>
</div>
<!-- ======================================= footer ======================================= -->
<footer class="row footer">
    <hr>
    <div class="col-sm-4">
        &nbsp;&nbsp; Copyright &copy; 2019
        <hr>
        <li>Abdullah Alamri</li>
        <li>James Lamb</li>
        <li>Isaac Wu</li>
    </div>
    <div class="col-sm-4" id="qrcode">
        <img src="/css/qrcode.png" class="qr" alt="">
    </div>
    <div class="col-sm-4" id="powered">
        Powered By: "moby games" &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</footer>
<!-- ======================================= script ======================================= -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
</script>